<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
        <system.webServer>
            <aspNetCore processPath="dotnet" arguments=".\My.App.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
                <environmentVariables xdt:Transform="InsertIfMissing">
                    <environmentVariable name="ASPNETCORE_ENVIRONMENT"
                                         value="Production"
                                         xdt:Locator="Match(name)"
                                         xdt:Transform="SetAttributes" />
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
</configuration>
